section#home
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  .cover-container
    

    img
      @media(max-width: 399px)
        max-height: 40vh
      max-height: 60vh
      box-shadow: 0 .8rem 1rem rgba(black, .5)

  .counter-container
    margin-top: 1rem
    #counter
      @media(max-width: 399px)
        font-size: 2.4rem
      color: #fff
      font-size: 3rem
  
  .icon-container
    margin-top: 1rem
    
    a
      opacity: .5
      transition: opacity 200ms ease-in-out
      img
        margin: 0 1rem

      &:hover
        opacity: 1